@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400&family=Fauna+One&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    margin: auto;
}
.menu {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.descNavbar {
    display: flex;
    height: 40px;
    ul {
        margin-top: 5px;
        display: flex;
        li {
            list-style: none;
            color: rgb(85, 83, 83);
            margin-right: 30px;
            font-size: 16px;
            font-weight: 550;
        }
    }
}

.mobile-main-menu {
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 415px;
    height: 100%;
    background: #000;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    ul {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        padding: 50px;
        width: 100%;

        li {
            margin-bottom: 20px;
            font-size: 18px;
            text-transform: uppercase;
            border-bottom: 1px #555 dotted;
            width: 100%;
            text-align: right;
            padding-bottom: 8px;

            a {
                color: #fff;
                transition: color 0.6s;

                &:hover {
                    color: #aaa;
                }
            }
        }
    }
}

/* Bring menu from left */
.show-menu {
    transform: translateX(0);
}
.z-index {
    z-index: 1;
}

@media (max-width: 840px) {
    .menu {
        display: flex;
    }
    .menuShow {
        display: none;
    }
    .descNavbar {
        display: none;
    }
}

@media (min-width: 841px) {
    .mobile-main-menu {
        display: none;
    }
}
